anyio
bcrypt
blinker
certifi
click
colorama
dnspython
Flask
Flask-Cors
Flask-PyMongo
h11
httpcore
idna
itsdangerous
Jinja2
MarkupSafe
mongoengine
PyJWT
pymongo
python-dotenv
sniffio
Werkzeug
gunicorn
